<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/util
    https://www.springframework.org/schema/util/spring-util.xsd 
    http://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <context:component-scan base-package="com.google"/>
   
    
    <bean id="cfg" class="org.hibernate.cfg.Configuration"
    init-method="configure"
    ></bean>
    
    <bean id="sf" class="org.hibernate.SessionFactory"
    factory-bean="cfg" factory-method="buildSessionFactory"></bean>
    
    <bean id="hibernateTemplateId" class="org.springframework.orm.hibernate5.HibernateTemplate"
    p:sessionFactory-ref="sf"></bean>
    
    </beans>